---
import { getEntryBySlug, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
import H1 from "../../components/H1.astro";
import PostList from "../../components/PostList.astro";
const slug = Astro.params.slug!;
const author = await getEntryBySlug("authors", slug);
if (!author) Astro.redirect("/404");

const allPosts = await getCollection("posts");
const posts = allPosts.filter((post) => post.data.author === author!.slug);
---

<Layout title={author!.data.name}>
  <Main>
    <a href="/blog" class="text-zinc-500 text-2xl underline mb-16 block"
      >&larr; Back to all blogs</a
    >
    <H1>Post by {author!.data.name}</H1>
    <div class="my-32">
      <PostList posts={posts} />
    </div>
  </Main>
</Layout>
