---
import type { CollectionEntry } from "astro:content";
import Category from "./Category.astro";
type Props = {
  categories: CollectionEntry<"posts">["data"]["categories"];
};

const { categories } = Astro.props as Props;
---

<div class="flex gap-4 flex-wrap items-center">
  {categories.map((category) => <Category {category} />)}
</div>
