---
import { POSTS_PER_PAGE } from "../config";
type Props = {
  page: number;
  numberOfPosts: number;
  className?: string;
};

const { page, className, numberOfPosts } = Astro.props as Props;
const postsPerPage = POSTS_PER_PAGE;
const hasPrev = page > 1;
const hasNext = numberOfPosts > page * postsPerPage;
---

<div class={`flex ${className}`}>
  {
    hasPrev && (
      <a
        href={`?page=${page - 1}`}
        class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
      >
        Back
      </a>
    )
  }
  {
    hasNext && (
      <a
        href={`?page=${page + 1}`}
        class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl ml-auto"
      >
        Next
      </a>
    )
  }
</div>
