---
type Props = {
  prevURL?: string;
  nextURL?: string;
  className?: string;
};

const { prevURL, nextURL, className } = Astro.props as Props;
---

<div class={`flex ${className}`}>
  {
    prevURL && (
      <a
        href={prevURL}
        class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
      >
        Back
      </a>
    )
  }
  {
    nextURL && (
      <a
        href={nextURL}
        class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl ml-auto"
      >
        Next
      </a>
    )
  }
</div>
