---
import Layout from "../../layouts/Layout.astro";
import Main from "../../components/Main.astro";
---

<Layout title="Subscription successful">
  <Main><p class="text-center p-12 text-2xl">You have subscribed!</p></Main>
</Layout>
